<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Select Professor</th>
                <th>Status</th>
                <th>Submitted Date</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((val)=> { %>
                <% if (val.status=='Draft') { %>
                 <tr>
                <td><%= val.title %></td>
                <td><%= val.category %></td>
                    <form action="/assignment/submitForReview/<%= val.studentId %>" method="post">
                    <td>
                    <select name="professor">
                       <% prof.forEach((value)=> { %>
                       <option value="<%= val.name %>"><%= value.name %></option>
                       <% }) %> 
                    </select>
                    </td>
                    <td><button type="submit">submit for review</button></td>
                    </form>
                <td><%= val.createdAt %></td>
            </tr>
                <% } %>
            <% }) %>
        </tbody>
    </table>
</body>
</html>