<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= data.title %></h1>
    <h3>Description:<%= data.description %></h3>
    <p>file: <a href="<%= data.fileName[0] %>">File</a></p>
    <h5>Current Status:<%= data.status %></h5>
    <iframe src="<%= data.fileName[0] %>" frameborder="10"></iframe>
</body>
</html>